body {
    position: absolute;
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    background: linear-gradient(183deg, #707070, #707070 74%, white 74.2%, white);
    height: 298px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 100%;
}

header h3{
    opacity: 1;
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 3.5rem;
    margin-bottom: 0px;
}

header h1 {
    font-size: 2.3rem;
    margin-top: 0px;
}

h5 {
    font-weight: 100;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    width: 160px;
    height: 40px;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0.5rem 1.2rem;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #888888;
    line-height: 40px;
}

main {
    float: left;
    width: 100%;
}

.informations {
    display: flex;
    color: #888888;
    flex-wrap: wrap;
    justify-content: center;
    color: #888888;
}

.helpAlgorithm {
    width: 520px;
    float: left;
    margin-right: 40px;
    font-size:12px;
    line-height: 18px;
}

.helpAlgorithm > h2 {
    font-weight: 100;
    font-size: 20px;
}

#product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0% 21.6%;
    width: 58%;
}

.productSquare img{
    border: 1px solid #888888;
}


.productSquare {
    width: 202px;
    color: #888888; 
    margin: 30px 30px 30px 0px;
}

.nameProd {
    font-size: 14px;
}

.descProd {
    font-size: 12px;
    visibility: visible;
}

.oldPrice {
    font-size: 12px;
}

.price{
    font-size: 14px;
    font-weight: bold;
}

.portion {
    font-size: 12px;
}

.buttonBuy {
    text-decoration: none;
    border: 1px solid #707070;
    padding: 6px 70px;
    border-radius: 6px;
    color: #888888;
    margin: 0px 0px;
}

.moreProducts {
    margin: 2% 42%;
    float: left;
    color: #888888;
    border: 1px solid #888888;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    width: 260px;
    cursor: pointer;
    height: 39px;
    text-align: center;
}

aside {
    float: left;
    width: 100%;
}

aside h5 {
    width: 95%;
    float: left;
    text-align: center;
    color: #888888;
    font-size: 14px;
}

footer {
    background: linear-gradient(-3deg, #707070, #707070 69%, white 69.2%, white);
    height: 293px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 100%;
}

footer h6 {
    margin: 0px;
    font-size: 12px;
    font-weight: 100;
    opacity: 83%;
    line-height: 20px;
}

.firstFooterText {
    margin-top: 10%;
}

@media screen and (max-width: 600px) {
    header h1, h3, h5{
        text-align: left;
        margin-left: 10px;
    }

    .helpAlgorithm {
        width: 340px;
        margin: 0;
    }

    #product {
        width: 100%;
        margin: 0;
    }

    #product .productSquare {
        width: 392px;
    }

    #product div img{
        width: 169px;
        float: left;
        margin-right: 10px;
    }

    #product div p{
        float: left;
        width: 50%;
        margin-top: 4px;
    }

    .descProd {
        display: none;
    }

    .moreProducts {
        margin: 5% 20%;
    }

    footer {
        height: 158px;
    }

    .firstFooterText {
        margin-top: 15%;
    }
}